accelerate
addict
diffusers
gradio
huggingface_hub
matplotlib
numpy
onnxruntime
opencv_python
pillow
pycocotools
PyYAML
requests
setuptools
supervision
termcolor
timm
torch
torchvision
transformers
yapf
numba
loguru
# segment_anything

lama-cleaner==0.25.0
openmim==0.1.5
mmcv==2.0.0